.navbar {
    background-color: transparent !important;
    padding: 0;
    transition: 300ms ease; 
}

.navbar-scrolled {
    background-color: white !important;
    /* border-bottom: 1.5px solid #820000; */
    transition: 300ms ease;
}


.navbar > .navbar-brand, .navbar > .navbar-collapse > .navbar-nav > .nav-item .nav-link {
    color: #820000;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}

.navbar > .navbar-collapse > .navbar-nav > .nav-item {
    padding-right: 20px;
}

.navbar > .navbar-collapse > .navbar-nav > .nav-item > .active {
    color: #005E00;
    font-weight: bold;
}

.navbar > .navbar-brand {
    font-weight: 900;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    outline: none;
}

.fa-bars {
    color:  #820000;
}


/* Main */

.section1 .background {
    background-image: url('../background.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-left: 65px;

}

.custom-btn {
    background-color: #820000;
    color: #eee;
}

.custom-btn:hover {
    color: white;
    background-color: #146634;
}


.section1 > .container-fluid > .row > .col {
    font-family: 'lato', sans-serif;
    font-size: 90px;
}


.section3 {
    background-color: #820000;
    color: white;
}

.section3 .service-icon {
    font-size: 60px;
    text-align: center;
}

.section3 .container .row .col-sm-3 {
    text-align: center;
}



/* FOOTER STYLES */

.full-footer {
    background-color: #ecf0f1;
}


.full-footer > .container-fluid > .row > .footer-bot {
    background-color: #2c3e50;
    color: #ecf0f1;
    font-size: 12px;
}





/*  SCREENS    */

@media screen and (max-width: 576px) {
    .navbar .navbar-brand {
        font-size: 15px !important;
        padding: 10px;
    }

    .navbar-brand img {
        width: 30px;
    }
    .navbar  
	{
        background-color: white !important;
    }

    .section1 .background {
	background: initial;
        background-image: url(../img/background.jpg);

    }
    
    .section1 > .container-fluid > .row > .col{
        font-size: 35px !important;
    }
}


@media screen and (max-width: 768px) {
    .navbar .navbar-brand {
        padding: 10px;
    }

    .section1 > .container-fluid > .row > .col{
        font-size: 30px;
    }


}


@media screen and (max-width: 992px) {
    .section1 > .container-fluid > .row > .col{
        font-size: 60px;
    }
}


.scrolltop {
	display:none;
	margin:0 auto;
	position:fixed;
	bottom:10px;
	right:10px;	
}
.scroll {
    cursor: pointer;
	position:absolute;
	right:20px;
	bottom:20px;
	text-align: center;
	margin: 0 0 0 0;
	cursor:pointer;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 		
}

.scroll .fa {
    font-size:10px;
    color: white;
	margin-top: 0px;
	margin-left:1px;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
    -o-transition: 0.5s; 	
}
